@font-face {
  font-family: "Futura";
  src: url("../fonts/futur.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  position:relative;
}
body {
  font-family: "Futura", Arial, sans-serif;
  line-height: 1.2rem;
}

/* Header */
header {
  padding: 30px;
}
header img, nav {
  display: inline-block;
  vertical-align: middle;
}
nav {
  width: calc(100% - 111px);
  text-align: right;
}

nav a {
  font-size: 17px;
  line-height: 1.09rem;
  color: rgb(0, 0, 0);
  margin: 0 20px;
  padding-bottom: 5px;
}
.router-link-exact-active {
    border-bottom: 2px solid rgb(134, 65, 233);
}

/* Content */
.container {
  width: 60%;
  min-width: 320px;
  height: auto;
  min-height: 70px;
  margin: 0 auto;
  border: 1px solid rgb(239, 239, 239);
  padding-bottom: 100px;
}
.container.recipes-container {
  border: none;
}

@media(max-width: 768px){
  .container {
    width: 80%;
  }
}
@media(max-width: 480px){
  .container {
    width: 96%;
  }
}
h2, .recipes-list > li {
  padding: 25px 35px;
}
.recipes-list > li, .recipes-container h2 {
  border: 1px solid rgb(239, 239, 239);
}
.recipes-list > li {
    border-top: none;
}
.recipes-list > li {
  list-style-type: none;
  cursor: pointer;
}
.recipes-list > li h3 span {
  display: inline-block;
}
h3 {
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.position {
  width: 20px;
  font-size: 18px;
  color: rgb(210, 210, 210);
  font-weight: bold;
  margin-right: 20px;
  text-align: right;
}
.recipe-title {
  width: calc(100% - 170px);
}
.one, .two, .three, .four, .level  {
  width: 70px;
  margin-right: 30px;
  text-align: right;
  float: right;
}
h2 {
  width: auto;
}
.one, .two, .three, .four {
  background-image: url("../images/intervi_trudnosc_czapka.png");
  height: 14px;
  background-repeat: repeat-x;
}
.one {
  width: 16px;
}
.two {
  width: 32px;
}
.three {
  width: 48px;
}
.four {
  width: 64px;
}
span[class*="arrow"]{
  width: 30px;
  float: right;
}
.arrowTop:after {
  content: url("../images/intervi_strzalka_gora.png");
}
.arrowDown:after {
  content: url("../images/intervi_strzalka_dol.png");
}

h2 {
  font-size: 18px;
  color: rgb(134, 65, 233);
  font-weight: bold;
}
.half-row {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  padding-right: 35px;
  line-height: 21px;
  color: #6d6d6d;
  font-family: "Montserrat", Arial, sans-serif;
}
@media(max-width: 768px){
  .half-row {
    width: 100%;
  }
}
.half-row h4 {
  font-size: 14px;
  line-height: 18.2px;
  color: rgb(210, 210, 210);
  font-weight: bold;
  margin: 30px 0;
}
.half-row ul {
    padding-left: 12px;
}
.half-row ul li {
    list-style-type: none;
}
.half-row ul li:before {
  content: url("../images/intervi_kropka.png");
  width: 10px;
  height: 10px;
  position: relative;
  top: -4px;
  left: -6px;
}

/* Form */
form {
  width: 100%;
  padding-top: 0 35px 25px;
}
.error-message {
  color: #BD0101;
}
.error-message li {
  margin-left: 20px;
}
input, textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(239, 239, 239);
  font-size: 14px;
  line-height: 28px;
  font-family: "Montserrat", Arial, sans-serif;
}
textarea {
  resize: none;
}
form > p {
  width: 100%;
  padding: 25px 35px;
}
.button-container {
  text-align: center;
  padding-top: 5px;
}
.button-container input {
  width: 200px;
  border: 1px solid rgb(134, 65, 233);
  background-color: rgb(134, 65, 233);
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  font-weight: 700;
  margin: 30px auto;
  cursor: pointer;
  font-size: 16px;
}
.button-container input:hover {
  background-color: #fff;
  color: rgb(134, 65, 233);
}


/* Footer */
footer {
 position:absolute;
 bottom:0;
 width:100%;
 height:30px;
 text-align: center;
}
}
footer img {
  margin: 0 auto;
  position: absolute;
  left: 48%;
}
